* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    max-width: 1270px;
    min-width: 450px;   
    min-height: 500px;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(./img/Nosso-Forro-Vermelha_team.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++*/


.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}

.header img {
    width: 150px;
    height: 150px;  
    border: 1px solid white;  
    border-radius: 100px;
  
    padding: 6px;
}
.header h1 {

    font-size: 25px;
}
.header h2 {
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 16px;
    font-style: italic;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++*/

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    height: 100vh;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++*/


.social-icon {
    width: 60%;
    margin-bottom: 15px;
}
.social-icon ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.social-icon ul li {
    display: block;
}
.social-icon ul li a ion-icon {
    width: 30px;
    height: 30px;
    color: white;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++*/



.work-links {
    width: 750px;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.work-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.work-links li {
    border: 2px solid rgb(168, 165, 121);
    border-radius: 10px;
    padding: 18px;
    margin: 40px auto 40px auto;
    width: 70%;
    text-align: center;
}
.work-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px; 
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++*/


.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer p {
    text-align: center;
    padding: 10px;
    color: rgb(177, 187, 43);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
}

@media(max-width:1400px) and (min-width: 900px){
     .work-links {
        width: 600px;
    }
   
    .work-links li {
       width: 100%;
       margin: 40px 0px;
    }
    .work-links a {
        font-weight: bold;
        font-size: 15px;
    }
}

@media(max-width: 900px) and (min-width: 700px){
     .work-links {
       
    }
   
    .work-links li {
       width: 100%;
       margin: 30px 0px;
    }
    .work-links a {
        font-weight: bold;
        font-size: 15px;
    }
}

@media(max-width: 700px) and (min-width: 480px) {
    .work-links {
        width: 500px;
    }
    .work-links li {
        width: 100%;
        margin: 30px auto;
    }
    .work-links a {
        font-weight: bold;
        font-size: 15px;
    }
}

@media(max-width: 478px) and (min-width: 480px) {
    .work-links {
        width: 400px;
    }
    .work-links li {
        width: 60%;
        margin: 60px auto;
    }
    .work-links a {
        font-weight: bold;
        font-size: 15px;
    }
}

@media(max-width: 390px) and (min-width: 844px) {
    .work-links {
        width: 100px;
    }
    .work-links li {
        width:  100%;
        margin: 10px auto;
    }
    .work-links a {
        font-weight: bold;
        font-size: 15px;
        color: red;
    }
}